@import "../../index.scss";

.hotelItem {
  &_container {
    display: flex;
    flex-direction: column;
    width: 70%;

    border: solid 2px;
    gap: 1rem;

    @include breakpoint("medium") {
      max-width: 550px;
    }

    @include breakpoint("small") {
      width: 90%;
    }
  }
}
