@import "../../index.scss";

.hotelRoom {
  &_container {
    display: flex;
    border-top: 1px solid black;
    padding: 0.5rem 2rem;

    @include breakpoint("medium") {
      padding: 1rem;
    }

    @include breakpoint("small") {
      flex-direction: column;
    }
  }

  &_roomDetails {
    width: 60%;
  }

  &_description {
    overflow: hidden;
    width: 100%;
  }
}
