@import "../../index.scss";

.hotelHeader {
  &_container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;

    @include breakpoint("medium") {
      gap: 1rem;
      flex-direction: column;
      padding: 1rem;
    }
  }

  &_details {
    margin-right: auto;

    @include breakpoint("medium") {
      order: 3;
    }
  }
}
